<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BusiBookTypeMapper">
    
    <resultMap type="BusiBookType" id="BusiBookTypeResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
    </resultMap>

    <sql id="selectBusiBookTypeVo">
        select id, name from busi_book_type
    </sql>

    <select id="selectBusiBookTypeList" parameterType="BusiBookType" resultMap="BusiBookTypeResult">
        <include refid="selectBusiBookTypeVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectBusiBookTypeById" parameterType="Long" resultMap="BusiBookTypeResult">
        <include refid="selectBusiBookTypeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusiBookType" parameterType="BusiBookType" useGeneratedKeys="true" keyProperty="id">
        insert into busi_book_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
         </trim>
    </insert>

    <update id="updateBusiBookType" parameterType="BusiBookType">
        update busi_book_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiBookTypeById" parameterType="Long">
        delete from busi_book_type where id = #{id}
    </delete>

    <delete id="deleteBusiBookTypeByIds" parameterType="String">
        delete from busi_book_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>