<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('支付二维码')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <div id="msg1">缴费成功后请关闭窗口，并刷新页面</div>
    <div id="msg"></div>
    <img src="" id="qrCode">
    <div ><h3 style="color: red" id="result"></h3></div>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<script th:inline="javascript">
    var url = ctx + "busi/bill/payDepositQrCode";
    var interval;
    var config = {
        url: url,
        type: "post",
        dataType: "json",
        data: {},
        success: function(result) {
            if (result.code == web_status.SUCCESS) {
                $("#qrCode").attr("src",result.msg);
                var interval=self.setInterval('check()',3000);

            }else {
                // $.operate.successCallback(result);
                $("#msg").html(result.msg);
            }
        }
    };
    $.ajax(config);

    function check(interval){
        var url = ctx + "busi/bill/checkPayDepositResult";
        var config = {
            url: url,
            type: "post",
            dataType: "json",
            data: {},
            success: function(result) {
                if (result.code == web_status.SUCCESS) {
                    $("#result").html(result.msg);
                }
            }
        };
        $.ajax(config);
    }
</script>
</body>
</html>