<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.busi.mapper.BusiBillMapper">
    
    <resultMap type="BusiBill" id="BusiBillResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="userId"    />
        <result property="bookId"    column="bookId"    />
        <result property="money"    column="money"    />
        <result property="billType"    column="billType"    />
        <result property="billSign"    column="billSign"    />
        <result property="createTime"    column="createTime"    />
        <result property="payTime"    column="payTime"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBusiBillVo">
        select id, userId, bookId, money, billType, billSign, createTime, payTime, remark from busi_bill
    </sql>

    <select id="selectBusiBillList" parameterType="BusiBill" resultMap="BusiBillResult">
        <include refid="selectBusiBillVo"/>
        <where>
            billType in (1,2,3)
            <if test="bookId != null "> and bookId = #{bookId}</if>
            <if test="money != null "> and money = #{money}</if>
            <if test="billType != null "> and billType = #{billType}</if>
            <if test="billSign != null "> and billSign = #{billSign}</if>
            <if test="createTime != null "> and createTime = #{createTime}</if>
            <if test="payTime != null "> and payTime = #{payTime}</if>
             order by billSign asc,createTime desc
        </where>
    </select>
    
    <select id="selectBusiBillById" parameterType="Long" resultMap="BusiBillResult">
        <include refid="selectBusiBillVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusiBill" parameterType="BusiBill"  useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            select LAST_INSERT_ID()
        </selectKey>
        insert into busi_bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">userId,</if>
            <if test="bookId != null">bookId,</if>
            <if test="money != null">money,</if>
            <if test="billType != null">billType,</if>
            <if test="billSign != null">billSign,</if>
            <if test="createTime != null">createTime,</if>
            <if test="payTime != null">payTime,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="bookId != null">#{bookId},</if>
            <if test="money != null">#{money},</if>
            <if test="billType != null">#{billType},</if>
            <if test="billSign != null">#{billSign},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBusiBill" parameterType="BusiBill">
        update busi_bill
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">userId = #{userId},</if>
            <if test="bookId != null">bookId = #{bookId},</if>
            <if test="money != null">money = #{money},</if>
            <if test="billType != null">billType = #{billType},</if>
            <if test="billSign != null">billSign = #{billSign},</if>
            <if test="createTime != null">createTime = #{createTime},</if>
            <if test="payTime != null">payTime = #{payTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiBillById" parameterType="Long">
        delete from busi_bill where id = #{id}
    </delete>

    <delete id="deleteBusiBillByIds" parameterType="String">
        delete from busi_bill where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>