<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('预约查询列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <!--<label>用户编号：</label>-->
                            <label>用户登录名：</label>
                            <input type="text" name="userLoginName"/>
                        </li>
                        <li>
                            <label>图书编号：</label>
                            <input type="text" name="bookId"/>
                        </li>
                        <li>
                            <label>图书名称：</label>
                            <input type="text" name="bookName"/>
                        </li>
                        <li>
                            <label>状态：</label>
                            <select name="state" th:with="type=${@dict.getType('busi_preBorrow_state')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
           <!-- <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="busi:preBorrow:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="busi:preBorrow:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="busi:preBorrow:remove">
                <i class="fa fa-remove"></i> 删除
            </a>-->
            <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="busi:preBorrow:export">
                <i class="fa fa-download"></i> 导出
            </a>-->
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('busi:preBorrow:edit')}]];
    var removeFlag = [[${@permission.hasPermi('busi:preBorrow:cancle')}]];
    var stateDatas = [[${@dict.getType('busi_preBorrow_state')}]];
    var prefix = ctx + "busi/preBorrow";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "预约查询",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'bookId',
                    title: '图书编号',
                },
                {
                    field: 'bookName',
                    title: '图书名称',
                },
                {
                    field: 'userId',
                    title: '用户id',
                    visible: false
                },
                {
                    field: 'userLoginName',
                    title: '用户登录名'
                },
                {
                    field: 'userName',
                    title: '用户昵称'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'finishTime',
                    title: '完成时间'
                },
                {
                    field: 'state',
                    title: '状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(stateDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        console.log(value);

                        // actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        if(row.state==0){
                            // actions.push('<a class="btn btn-danger btn-xs ' + cancleFlag + '" href="javascript:void(0)" onclick="cancle(\'' + row.id + '\')"><i class="fa fa-remove"></i>取消</a>');
                            actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="cancle(\'' + row.id + '\')"><i class="fa fa-remove"></i>取消</a>');
                        }

                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
    function cancle(preBorrowId) {
        $.modal.confirm("确定要取消吗？", function() {
            var data = { "id": preBorrowId };
            // $.operate.get(ctx+"busi/preBorrow/add/"+ bookId);
            $.operate.post(ctx+"busi/preBorrow/cancle", data);
        })
    }
</script>
</body>
</html>